@import 'scss/variables/sizes.scss';
@import 'scss/variables/colors.scss';

$base-font-family: 'Sofia Sans', 'Inter', 'Arial', sans-serif;
$base-font-size: 18px;
$base-font-color: $gray;
$base-heading-margin: $regular;
$base-paragraph-margin: $small;