/* naive UI colors */
@import 'scss/variables/naive-ui/naive-colors.scss';

/* blacks and whites */
$black: #100f0fdc;
$white: #fff;
$white-milk: #eee7e7dc;

/* greys */
$gray: #36413E;

/* reds */
$red: #E62428;
$burgundy: #511717;
$black-red: #2E0C0C; 

/* yellows */
$yellow: rgba(255, 255, 197, 0.86); 

/* greens */
$light-green: #5cdb93;

