// gaps: margins
// fills: paddings

// small, medium, large, xl sizes
// mobile, tablet, desktop sizes
// general sizes as constants
$xs: .25rem;
$extra-small: .25rem;

$sm: .5rem;
$small: .5rem;

$regular: 1rem;
$regular-l: 1.25rem;
$regular-large: 1.25rem;

$large: 1.5rem;
$extra-large: 2rem;
$xl: 2rem;

$xxl: 3rem;
$huge: 3rem;